{% load staticfiles %}
<html>
    <head>
       <title>New client</title>
       <link rel="stylesheet" href="{% static 'css/kkb.css' %}">
       <link rel="stylesheet" href="{% static 'css/client.css' %}">
       <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    </head>
    <body>
	<div class="content" style="height: 100%;">
    		<div class="text">
    		<center>Оставьте ваши данные, чтобы забрать питомца {{ pet.name }} </center>
     		<form method="POST" class="client-form">{% csrf_token %}
       		Имя: <input type="text" name="name" class="name"><br>
       		Тел.: <input type="text" name="number" class="name"><br>
        	<center><input type="submit" id="submit" class="sub" value="Подать заявку"></center>
		</form>    		
		</div>
	</div>
    </body>
</html>
