{% load staticfiles %}
<html>
    <head>
       <title>hidden client</title>
       <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> 
       <link rel="stylesheet" href="{% static 'css/client.css' %}">
       <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
       </head>
    		<body>
			<div class="header">Принятые заявки <a class="header1" href="{% url 'client' %}">Заявки</a></div>
			<div class="content">

	<div class="content_information">
		<div class="content_information_1" style="font-size: 120%;"><strong>Имя клиента</strong></div>
		<div class="content_information_1" style="font-size: 120%;"><strong>Номер телефона</strong></div>
		<div class="content_information_1" style="font-size: 120%;"><strong>Имя питомца</strong></div>
		<div class="content_information_button"></div>		
			</div>
				{% for Client in clients %}
	<div class="content_information">
		<div class="content_information_1" style="font-size: 120%;">{{Client.name}}</div>
		<div class="content_information_1" style="font-size: 120%;">{{Client.number}}</div>
		<div class="content_information_1" style="font-size: 120%;">{{ Client.pet_name }}</div>
		<div class="content_information_button"><a class="button_d" href="{% url 'return_client' pk=Client.pk %}">Вернуть</a></div>		
			</div>
				{% endfor %}							
			</div>

    </body>
</html>
