{% load staticfiles %}
<html>
    <head>
       <title>Main</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
       <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> 
       <link rel="stylesheet" href="{% static 'css/pit.css' %}">
       <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
       </head>
    <body>

<div class="page-header">
    <h1><center>Welcome to Main page <h3>{{ username }}</h3> </center></h1>
{% if username == "" %}<a style="margin-right: 0;" class="btn btn-dark" href="{% url "login" %}" role="button" style="margin: 2em">Log in</a> {% endif %}
{% if username != "" %}<a style="margin-right: 0;" class="btn btn-dark" href="{% url "logout" %}" role="button" style="margin: 2em">Log out</a> {% endif %}
</div>
<div class="main">
    <a class="btn btn-dark" href="{% url "dog" %}" role="button" style="margin: 2em">Dogs</a>
    <a class="btn btn-dark" href="{% url "cat" %}" role="button" style="margin: 2em">Cats</a>
    <a class="btn btn-dark" href="{% url "otherPets" %}" role="button" style="margin: 2em">Other Pets</a>
    <a class="btn btn-dark" href="{% url "kzt_list" %}" role="button" style="margin: 2em">See transactions</a>
    <a class = "btn btn-success" href="{% url "kkb_init" %}" role="button" style="margin: 2em">Donate</a>
</div>	
    </body>
</html>
