{% load staticfiles %}
<html>
    <head>
       <title>client</title>
       <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> 
       <link rel="stylesheet" href="{% static 'css/client.css' %}">
       <link rel="stylesheet" href="{% static 'css/kzt_list.css' %}">
       <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
       </head>
    		<body>
			<div class="header">История транзакций <a class="header1" href="{% url 'transaction_new' %}">Добавить транзакцию <strong>+</strong></a></div>
			<div class="content">

	<div class="content_information">
		<div class="content_information_1" style="font-size: 120%;"><strong>Имя|Описание</strong></div>
		<div class="content_information_1" style="font-size: 120%;"><strong>Сумма(KZT)</strong></div>
		<div class="content_information_1" style="font-size: 120%;"><strong>Дата</strong></div>
	
			</div>
				{% for Transaction in transactions %} 
	<div class="content_information" {% if Transaction.amount < 0 %} style="background-color: red; color: white;"  {% endif %}">
		<div class="content_information_1" style="font-size: 120%;">{{ Transaction.description|linebreaksbr }}</div>
		<div class="content_information_1" style="font-size: 120%;">{{ Transaction.amount }}</div>
		<div class="content_information_1" style="font-size: 120%;">{{ Transaction.date }}</div>
			</div>
				{% endfor %}							
			</div>

    </body>
</html>
