{% load staticfiles %}
<html style = "overflow: scroll;">
    <head>
       <title>Main</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
       <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> 
       <link rel="stylesheet" href="{% static 'css/pit.css' %}">
       <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
       </head>
    <body>
<div class="page-header">
    <h1><center>Подробная информация <h3>{{ username }}</h3> </center></h1>
{% if username == "" %}<a style="margin-right: 0;" class="btn btn-dark" href="{% url "login" %}" role="button" style="margin: 2em">Log in</a> {% endif %}
{% if username != "" %}<a style="margin-right: 0;" class="btn btn-dark" href="{% url "logout" %}" role="button" style="margin: 2em">Log out</a> {% endif %}
</div>
<div class="main">

{{ pet.name }} <br>

{{pet.description}} <br>

<img src ="{{ pet.picture_1 }}"> <br>

<img src ="{{ pet.picture_2 }}"> <br>

<img src ="{{ pet.picture_3 }}"> <br>

{{ pet.main_description }} <br>

{{ pet.age }} <br>

{{ pet.gender }} <br>

{{ pet.breed }} <br>



</div>
    </body>
</html>
