{% load staticfiles %}
    <head>
       <title>Pet_edit</title>
       <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> 
       <link rel="stylesheet" href="{% static 'css/pet_edit.css' %}">
       <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    </head>
    <body>
	<div class="content">
		<div class="text_header">
    		<center>Добавить нового питомца</center>
		</div>
   		<div class="text">
     		<form method="POST" class="pet-form">{% csrf_token %}
       		Имя питомца:<br> <input style="height: 5%; font-size: 100%; text-align: center;" type="text" name="name" class="name"><br>
		<p></p>
       		Картинка 1:<br> <input style="height: 5%; font-size: 100%; text-align: center;" type="text" name="picture_1"><br>
		<p></p>
       		Картинка 2:<br> <input style="height: 5%; font-size: 100%; text-align: center;" type="text" name="picture_2"><br>
		<p></p>
       		Картинка 3:<br> <input style="height: 5%; font-size: 100%; text-align: center;" type="text" name="picture_3"><br>
		<p></p>
       		Описание:<br> <textarea style="height: 10%; width: 60%; font-size: 100%; text-align: center;" name="description"></textarea><br>
		<p></p>
       		Возраст:<br> <input style="height: 5%; font-size: 100%; text-align: center;" type="text" name="age"><br>
		<p></p>
       		Порода:<br> <input style="height: 5%; font-size: 100%; text-align: center;" type="text" name="breed"><br>
		<p></p>
       		Пол:<br> <select style="width: 13%; height: 5%; text-align: center; font-size: 100%;" name="gender">
  <option value="Самец">Самец</option>
  <option value="Самка">Самка</option>
</select>
		<p></p>
        	<center><input type="submit" id="submit" class="sub" value="Сохранить"></center>
		</form>    		
		</div>
	</div>
    </body>
</html>


</div>
