{% load staticfiles %}
<html>
    <head>
       <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> 
       <link rel="stylesheet" href="{% static 'css/kkb.css' %}">
       <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    </head>
    <body>
	<div class="content">
    		<div class="thanks">
    		<center>Питомец был успешно добавлен!</center>
		</div>
	</div>
    </body>
</html>
