{% load staticfiles %}
    <head>
       <title>Pet_edit</title>
       <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> 
       <link rel="stylesheet" href="{% static 'css/pet_edit.css' %}">
       <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    </head>
    <body>
	<div class="content" style="height: 50%">
		<div class="text_header">
    		<center>Добавить транзакцию</center>
		</div>
   		<div class="text">
     		<form method="POST" class="transaction-form">{% csrf_token %}
       		Описание транзакции:<br> <textarea style="height: 15%; width: 60%; font-size: 100%; text-align: center;" name="description"></textarea><br>
		<p></p>
       		Потраченная сумма:<br> <input style="height: 10%; font-size: 100%; text-align: center;" max="0" value="-"type="number" name="amount" step="1000"><br>
		<p></p>
        	<center><input type="submit" id="submit" class="sub" value="Сохранить"></center>
		</form>    		
		</div>
	</div>
    </body>
</html>


</div>
