@import url('https://fonts.googleapis.com/css?family=Istok+Web');
#donfr {
display: none;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 20;
position: absolute;
}

.sky {
height: 100%;
width: 100%;
position: absolute;
left: 0;
top: 0;
z-index: 1;
  }

.content {
position: absolute;
z-index: 2;
height: 100%;
width: 100%;
margin-top: 0;
}

#header {
margin-top: 0;
width: 100%;

}
a.logo {
}
a.logo:link, a.logo:visited {
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding: auto;
    padding-left: 7%;
    padding-right: 7%;
    display: inline-block;
    text-decoration: none;
    transition: 1s;
    -webkit-transition: 1s;
    background-color: rgba(230, 240, 255, 0.3);
    color: white;
    font-size: 150%;
    float: left;
}

a.logo:hover, a.logo:active {
    background-color: rgba(230, 240, 255, 0.5);
    color: white;
}

a.menu:link, a.menu:visited {
    text-align: center;
    padding-top: 20px;
    display: inline-block;
    text-decoration: none;
    transition: 1s;
    -webkit-transition: 1s;
    font-size: 150%;
    color: rgba(230, 240, 255, 0.7);
}

a.menu:hover, a.menu:active {
    color: white;
}

a.dMenu:link, a.dMenu:visited {
    padding-left: 32%;
    padding-top: 10px;
    text-decoration: none;
    font-size: 150%;
    color: rgba(230, 240, 255, 0.7);
    transition: 1s;
    -webkit-transition: 1s; 
}

a.dMenu:hover, a.dMenu:active {
    color: white; 
}

a.dMenu {
    display: none;
}

.dropdown:hover a.dMenu {
    display: block;
}

.dropdown {
    margin-left: 40%;
    position: absolute;
}

#text {
    margin-left: 10%;
    margin-top: 10%;
    display: block;
}

#title {
    color: rgba(230, 240, 255, 0.9);
    font-size: 400%;
    transition: 1s;
    -webkit-transition: 1s;
}

#title:hover {
    color: white;
}

a.donate:link, a.donate:visited {
    text-align: center;
    left: 0;
    bottom: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 7%;
    padding-right: 7%;	
    padding: auto;
    display: inline-block;
    text-decoration: none;
    background-color: rgba(230, 240, 255, 0.7);
    color: rgba(77, 166, 255, 0.9);
    font-size: 150%;
    float: left;
    transition: 1s;
    -webkit-transition: 1s;
    position: absolute;
}

a.donate:hover, a.donate:active {
    background-color: white;
    color: rgba(77, 166, 255, 1);
}

a.trans:link, a.trans:visited {
    text-align: center;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: 1s;
    -webkit-transition: 1s;
    font-size: 150%;
    color: rgba(230, 240, 255, 0.7);
    margin-left: 40%;
}

a.trans:hover, a.trans:active {
    color: white;
}

a.contacts:link, a.contacts:visited {
    text-align: center;
    display: inline-block;
    padding-top: 20px;
    text-decoration: none;
    transition: 1s;
    -webkit-transition: 1s;
    font-size: 150%;
    color: rgba(230, 240, 255, 0.7);
    margin-left: 5%;
}

a.contacts:hover, a.contacts:active {
    color: white;
}

a.login:link, a.login:visited {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    right: 0px;
    transition: 1s;
    -webkit-transition: 1s;
    font-size: 150%;
    color: rgba(230, 240, 255, 0.7);
}

a.login:hover, a.login:active {
    color: white;
}

html {
    overflow: hidden;
}

#maintext {
    margin-top: 5%;
    color: rgba(230, 240, 255, 0.9);
    font-size: 150%;
    transition: 1s;
    -webkit-transition: 1s;
}

#maintext:hover {
    color: white;
}

* {
margin: 0;
padding: 0;
font-family: 'Istok Web', sans-serif;
}
